<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::content}, #{title.genres})}">
<body>
<div class="Middle" th:fragment="content">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Жанры</h1>
            <div class="Section">
                <div class="Tags Tags_genres">
                    <th:block th:each="genreDto : ${genres}">
                        <div class="" th:class="'Tags' + ${genreDto.hasMoreThatOneChildLevel ? ' Tags_embed' : ''}">
                            <div class="Tags-title">
                                <div th:replace="~{components/genres/genre_tag :: genreTag(${genreDto})}"></div>
                            </div>
                            <th:block th:each="child : ${genreDto.children}">
                                <th:block th:if="${child.children.isEmpty()}">
                                    <div th:replace="~{components/genres/genre_tag :: genreTag(${child})}"></div>
                                </th:block>
                                <th:block th:if="!${child.children.isEmpty()}">
                                    <div th:replace="~{components/genres/genre_with_sub_genres :: genresWithSubGenres(${child})}"></div>
                                </th:block>
                            </th:block>
                        </div>
                    </th:block>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
