<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::content}, #{title.genres})}">
<body>
<div class="Middle" th:fragment="content">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item">
                    <a href="/index.html">Главная</a>
                </li>
                <li class="breadcrumbs-item">
                    <a href="/genres/index.html">Жанры</a>
                </li>
                <li class="breadcrumbs-item">
                    <a href="/genres/index.html">Легкое чтение</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current">
                    <span>Детективы</span>
                </li>
            </ul>

            <header class="Middle-header">
                <h1 class="Middle-title" th:text="${genre.name}"></h1>
            </header>

            <div class="Section">
                <div class="Cards Cards_refresh">
                    <th:block th:each="book : ${books}">
                        <div th:replace="~{components/books/card_in_list :: cardInList(${book})}"></div>
                    </th:block>
                    <div class="Cards-footer Cards-footer_center">
                        <a class="btn btn_primary" href="#" data-refreshshow="genre" data-refreshoffset="0"
                           data-refreshlimit="20" th:data-refreshid="${genre.id}">Показать еще</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
