<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::content}, #{title.search})}">
<body>
<div class="Middle" th:fragment="content">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Поиск</h1>
            <div class="Section">
                <div th:replace="~{components/search_form :: searchForm(${searchQueryDto})}"></div>
            </div>
            <div class="Section Section_close">
                <header class="Section-header">
                    <h2 class="Section-title Middle-searchHeader"
                        th:text="${'Найдено книг: ' + searchResults.totalElements}"></h2>
                </header>
                <div class="Cards Cards_search Cards_refresh">
                    <th:block th:each="book : ${searchResults.content}">
                        <div th:replace="~{components/books/card_in_list :: cardInList(${book})}"></div>
                    </th:block>

                    <div class="Cards-footer Cards-footer_center">
                        <a class="btn btn_primary" href="#" data-refreshshow="search" data-refreshoffset="0"
                           data-refreshlimit="20" th:data-refreshquery="${searchQueryDto.query}">Показать еще</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
