<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="Cart-buttons" th:fragment="cartBtns(book)">
    <div class="Cart-btn">
        <button class="btn btn_primary btn_outline" data-sendstatus="KEPT" data-bookid="[1122]">
            <span class="btn-icon">
                <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
            </span>
            <span class="btn-content">Отложить</span>
        </button>
    </div>
    <div class="Cart-btn">
        <button class="btn btn_danger btn_outline" data-sendstatus="POSTPONED_UNLINK" th:attr="data-bookid=${book.id}">
            <span class="btn-icon">
                <img src="/assets/img/icons/trash.svg" alt="trash.svg"/>
            </span>
            <span class="btn-content">Удалить</span>
        </button>
    </div>
</div>
</body>
</html>
