<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::content}, #{title.newBooks})}">
<body>
<div class="Middle" th:fragment="content">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item">
                    <a href="/index.html">Главная</a>
                </li>
                <li class="breadcrumbs-item">
                    <a href="/genres/index.html">Книги</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current">
                    <span>Новинки</span>
                </li>
            </ul>

            <div class="Section">
                <div class="Section-header">
                    <h1 class="Section-title">Новинки</h1>
                    <form class="form form_inline Section-header-form" action="#" method="post">
                        <div class="form-group">
                            <label class="form-label">с
                            </label>
                            <input class="form-input form-input_date form-input_date_uninit" id="fromdaterecent"
                                   name="fromdaterecent" type="text" placeholder="Дата" data-refreshoffset="20"
                                   data-refreshlimit="20" data-refreshshow="changedate" data-refreshfrom="0"
                                   autocomplete="off"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label">по
                            </label>
                            <input class="form-input form-input_date form-input_date_uninit" id="enddaterecent"
                                   name="enddaterecent" type="text" placeholder="Дата" data-refreshoffset="20"
                                   data-refreshlimit="20" data-refreshshow="changedate" data-refreshto="0"
                                   autocomplete="off"/>
                        </div>
                    </form>
                </div>

                <div class="Cards Cards_refresh">
                    <th:block th:each="book : ${recentBooks}">
                        <div th:replace="~{components/books/card_in_list :: cardInList(${book})}"></div>
                    </th:block>

                    <div class="Cards-footer Cards-footer_center">
                        <a class="btn btn_primary" href="#" data-refreshshow="recent" data-refreshoffset="20"
                           data-refreshlimit="20">Показать еще</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
