<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::content}, #{title.authors})}">
<body>
<div class="Middle" th:fragment="content">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a href="/index.html">Главная</a></li>
                <li class="breadcrumbs-item"><a href="/authors/index.html">Авторы</a></li>
                <li class="breadcrumbs-item breadcrumbs-item_current">
                    <span th:text="${author.name}"></span>
                </li>
            </ul>
            <h1 class="Middle-title" th:text="${author.name}"></h1>
            <article class="Article">
                <div class="sdf"></div>
                <div class="Spoiler">
                    <div class="Spoiler-visible">
                        <div class="pict pict_left">
                            <img th:src="${author.photo}" alt="card.jpg"/>
                        </div>
                        <div>
                            <h2>Биография</h2>
                            <th:block th:text="${author.description}"></th:block>
                        </div>
                    </div>
                    <div class="Spoiler-hide" th:text="${author.description}"></div>
                    <div class="Spoiler-footer">
                        <button class="Spoiler-trigger btn btn_primary btn_nr" type="button" data-showtext="Свернуть"
                                data-hidetext="Показать полностью">
                        </button>
                    </div>
                </div>
            </article>
            <div class="Section">
                <div th:replace="~{components/section_header :: sectionHeader('Книги автора')}"></div>
                <div th:replace="~{components/slider :: slider(${books}, null)}"></div>
                <footer class="Section-footer">
                    <a class="Author-books" href="/books/author.html">
                        Все книги автора<span class="Author-amount" th:text="'(' + ${books.totalElements} + ')'"></span>
                    </a>
                </footer>
            </div>
        </main>
    </div>
</div>
</body>
</html>
