<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::content}, #{title.main})}">
<body>
<div class="Middle" th:fragment="content">
    <div class="wrap">
        <main class="Middle-main">
            <div class="Section">
                <th:block th:if="${recommendedBooks.size() > 0}">
                    <div th:replace="~{components/section_header :: sectionHeader(#{categories.recommended})}"></div>
                    <div th:replace="~{components/slider :: slider(${recommendedBooks}, recommended)}"></div>
                </th:block>

                <th:block th:if="${recentBooks.size() > 0}">
                    <div th:replace="~{components/section_header :: sectionHeader(#{menu.news})}"></div>
                    <div th:replace="~{components/slider :: slider(${recentBooks}, recent)}"></div>
                </th:block>

                <th:block th:if="${popular.size() > 0}">
                    <div th:replace="~{components/section_header :: sectionHeader(#{menu.popular})}"></div>
                    <div th:replace="~{components/slider :: slider(${popular}, popular)}"></div>
                </th:block>
            </div>

            <h2 class="Middle-title" th:text="#{booksByTags}"></h2>
            <div th:replace="~{components/tags :: tags(${tags})}"></div>
        </main>
    </div>
</div>
</body>
</html>
