<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::content}, #{title.register})}">
<body>
<div class="Middle" th:fragment="content">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item">
                    <a href="/index.html">Главная</a>
                </li>
                <li class="breadcrumbs-item">
                    <a href="/profile.html">Мой профиль</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current">
                    <span>Мои книги</span>
                </li>
            </ul>
            <div class="Section">
                <div class="Section-header">
                    <h1 class="Section-title">Мои книги
                    </h1>
                    <div class="Section-header-links"><span
                            class="Section-header-link Section-header-link_ACTIVE">Непрочитанные</span><a
                            class="Section-header-link" href="/myarchive.html">Архив</a>
                    </div>
                </div>
                <div class="Cards">
                    <th:block th:each="book : ${books}">
                        <div th:replace="~{components/books/card_in_list :: cardInList(${book})}"></div>
                    </th:block>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
